In [1]:
import pandas as pd
#making a simple data set with dict 
dict = {"fruits": ["apple", "Banana", "orange", "pineapple"], "rank" : [1,2,3,4]} #this is data set
a = pd.DataFrame(dict, index= [1,2,3,4]) #making Dataframe in a var
#printing a dataframe
print(a["fruits"][1])
print(a["rank"][2], a["fruits"][1]) #priniting different value of data
#we can also print a row as we wish by using a locate row 
print(a.loc[4]) #using loc bulit-in-function
print(type(a)) # to get a data fraim of what

apple
2 apple
fruits    pineapple
rank              4
Name: 4, dtype: object
<class 'pandas.core.frame.DataFrame'>

In [6]:
#creating dataframe
#import pandas and numpy
import pandas as pd
import numpy as np

#creating simple array
data = np.array(['a','b','c','d','e','f','g','h'])
ser = pd.Series(data)

#retrieve the first element
print(ser[:6])

#Accessing Element Using Label(index):
print(ser[6])

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object
g

In [21]:
#add function
import pandas as pd 

#creating data 
data1 = pd.Series([1,2,3,4], index=[0,1,2,3])
data2 = pd.Series([2,3,4,5], index=[1,2,3,4])

print(f"{data1}\n\n{data2}")

#for add only
result = data1.add(data2, fill_value=0)
print(result)

#for sub only
result1 = data1.sub(data2, fill_value=0)
print(result1)

#for loc 
print(data1[1:3])

#for iloc
print(data1[1:3])

#for default
print(data1[1:3])

0    1
1    2
2    3
3    4
dtype: int64

1    2
2    3
3    4
4    5
dtype: int64
0    1.0
1    4.0
2    6.0
3    8.0
4    5.0
dtype: float64
0    1.0
1    0.0
2    0.0
3    0.0
4   -5.0
dtype: float64
1    2
2    3
dtype: int64
1    2
2    3
dtype: int64
1    2
2    3
dtype: int64

# import pandas as pd
ser = pd.Series(range(10))
print(ser)

In [26]:
import pandas as pd
var = pd.Series(range(1,20,3), index= [x for x in ['first', 'second', 'third', 'fourth', 'five','six','seven']])
print(var)

first      1
second     4
third      7
fourth    10
five      13
six       16
seven     19
dtype: int64

In [ ]:
import pandas as pd
import numpy as np
ser = np.arange(10,15)
serobj = pd.Series(data=ser*5, index=ser)
print(serobj)