In [1]:
import pandas as pd
#making a simple data set with dict 
dict = {"fruits": ["apple", "Banana", "orange", "pineapple"], "rank" : [1,2,3,4]} #this is data set
a = pd.DataFrame(dict, index= [1,2,3,4]) #making Dataframe in a var
#printing a dataframe
print(a["fruits"][1])
print(a["rank"][2], a["fruits"][1]) #priniting different value of data
#we can also print a row as we wish by using a locate row 
print(a.loc[4]) #using loc bulit-in-function
print(type(a)) # to get a data fraim of what

apple
2 apple
fruits    pineapple
rank              4
Name: 4, dtype: object
<class 'pandas.core.frame.DataFrame'>

In [6]:
#creating dataframe
#import pandas and numpy
import pandas as pd
import numpy as np

#creating simple array
data = np.array(['a','b','c','d','e','f','g','h'])
ser = pd.Series(data)

#retrieve the first element
print(ser[:6])

#Accessing Element Using Label(index):
print(ser[6])

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object
g

In [21]:
#add function
import pandas as pd 

#creating data 
data1 = pd.Series([1,2,3,4], index=[0,1,2,3])
data2 = pd.Series([2,3,4,5], index=[1,2,3,4])

print(f"{data1}\n\n{data2}")

#for add only
result = data1.add(data2, fill_value=0)
print(result)

#for sub only
result1 = data1.sub(data2, fill_value=0)
print(result1)

#for loc 
print(data1[1:3])

#for iloc
print(data1[1:3])

#for default
print(data1[1:3])

0    1
1    2
2    3
3    4
dtype: int64

1    2
2    3
3    4
4    5
dtype: int64
0    1.0
1    4.0
2    6.0
3    8.0
4    5.0
dtype: float64
0    1.0
1    0.0
2    0.0
3    0.0
4   -5.0
dtype: float64
1    2
2    3
dtype: int64
1    2
2    3
dtype: int64
1    2
2    3
dtype: int64

# import pandas as pd
ser = pd.Series(range(10))
print(ser)

In [3]:
import pandas as pd
import numpy as np
ser = np.arange(10,15)
serobj = pd.Series(data=ser*5, index=ser)
print(serobj)

10    50
11    55
12    60
13    65
14    70
dtype: int64

In [6]:
#import pandas creating in empty list
import pandas as pd

#calling DataFrame constructor
df = pd.DataFrame()

print(df)

Empty DataFrame
Columns: []
Index: []

In [7]:
#creating a dataframe using list:

#importing pandas
import pandas as pd

#list of string
lst = ["bishal", "koirala", "komal"]

#calling DataFrame constructor on list
df = pd.DataFrame(lst)

printing the output
print(df)

         0
0   bishal
1  koirala
2    komal

In [9]:
#creating a dataframe using dict of narrys

#importing pandas
import pandas as pd

#creating dict
dict = { "name": ["Bishal", "koirala", "komal"], "age": [23,43,45]}

#calling DataFrame constructor on dict
de = pd.DataFrame(dict)

#printing the output
print(de)

      name  age
0   Bishal   23
1  koirala   43
2    komal   45

In [13]:
#one creating dataFrame from list of list

#importing pandas
import pandas as pd

#creating a data list
a = [["bishal", 20, 9811034442], ["bishnu", 20, 9811032323],["manish", 20, 9800012121]]

#calling DataFrame constructor on a 
b = pd.DataFrame(a, columns=['name','age','number'])   #using columns= for naming the columns of list 

#printing the output
print(b)

     name  age      number
0  bishal   20  9811034442
1  bishnu   20  9811032323
2  manish   20  9800012121

In [17]:
#creating pandas DataFrame from list of Dictionaries

#importing pandas
import pandas as pd

#creating a list
list = [{'a': 12, 'b': 13, 'c':14},{'a': 12, 'b' : 13, 'c' : 14}]

#calling DataFrame constructor on list
d = pd.DataFrame(list)
print(d)

    a   b   c
0  12  13  14
1  12  13  14

In [26]:
#creating DataFrame using zip() function

#importing pandas
import pandas as pd

#creating list

#list 1
name = ["bishal", "bishnu", "manish"]

#list 2
age = [20,20,21]

#get the list of tuples from two lists.
#and merge them by using zip()

#calling DataFrame constructor by merging name and age
list_of_merge = pd.DataFrame(zip(name,age))

#printing output
print(list_of_merge)

        0   1
0  bishal  20
1  bishnu  20
2  manish  21

In [27]:
#creating a DataFrame by proving index label explicitly

#importing pandas
import pandas as pd

#creating dict
di = {'name': ['bishal','manish','komal'],
      'age': [20,20,21]}

#calling DataFrame constructor to di and add index on it
g = pd.DataFrame(di, index=['rank1','rank2','rank3'])
print(g)

         name  age
rank1  bishal   20
rank2  manish   20
rank3   komal   21